EDGE_COUCHBASE_HOST=couchbase-edge
EDGE_COUCHBASE_PORT=8091
MAIN_COUCHBASE_HOST=couchbase-main
MAIN_COUCHBASE_PORT=8091
COUCHBASE_USERNAME=Administrator
COUCHBASE_PASSWORD=password
COUCHBASE_BUCKET=baggage
SYNC_GATEWAY_ADMIN_URL=http://sync-gateway:4985
